<!-- This is created (at video 113) in Rails 7 to follow the video (this content should have been at /views/blogs/_blog.html.erb)
In order to make this work like the video but without missing the rails 7 app, I created this: -->

<!-- This was modified at video 148. Should be moved to _blog.html.erb right away before video 149 -->



<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog_item.title, blog_item %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog_item.created_at, Time.now) %> ago</p>

  <% if logged_in?(:site_admin) %>

    <p class="blog-post-meta">
      <%= link_to blog_item.status, toggle_status_blog_path(blog_item), class: "text-decoration-none" %> /
      <%= link_to 'Edit', edit_blog_path(blog_item), class: "text-decoration-none" %> /
      <%= link_to 'Delete Post', blog_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none" %>
    </p>
    
  <% end %>

  

  <p>
    <%= blog_item.body %>
  </p>
</div><!-- /.blog-post -->